/* Phone Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    * {
        
    }
}

/* Tablet and Up*/
@media only screen and (min-width: 600px) {
    :root {
        --nav-height: 10vh;
    }

    /* Navbar */

    #navbar-leftbar {
        width: 40%;
    }

    #navbar-midbar {
        left: 40%;

        width: 20%;
    }

    #navbar-rightbar {
        top: 50%;
        left: 60%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 40%;
    }

    #navbar-name {
        font-size: clamp(1em, 5vw, 2em);
    }

    #navbar-sub {
        margin-top: 0px;
        font-size: clamp(11px, 3vw, 1em);
    }

    .contact {
        font-size: clamp(11px, 3vw, 1em);
    }

    #navbar-sections {
        height: auto;
        width: auto;
        background-color: inherit;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .nav-section {
        margin: 4px;
        padding: 1px;

        font-size: clamp(12px, 2.8vw, 1.4em);
    }

    .active {
        border-bottom: solid #3388ff;
        color: inherit;
    }

    /* Home */

    .icon-border {
        padding: min(1em, 1vw);
    }

    .icons {
        width: min(1.6em, 7vw);
        height: min(1.6em, 7vw);
        font-size: min(1.6em, 7vw);
    }

    .story {
        font-size: clamp(1.2em, 3vw, 1.35em);
        padding: 7.5vh 10vw 0vh 10vw;
    }
}

@media only screen and (min-width: 768px) {
    /* Home */

    #header-title {
        top: 30%;
    }

    .story {
        font-size: clamp(1.3em, 2.6vw, 1.35em);
        padding: 7.5vh 15vw 0vh 15vw;
    }
}

@media only screen and (min-width: 992px) {
    /* Home */

    .icon-border {
        padding: min(0.8em, 0.8vw);
    }

    .story {
        font-size: 1.4em;
        padding: 7.5vh 20vw 0vh 15vw;
    }
}

@media only screen and (min-width: 1200px) {
    /* Home */
    
    #header-title {
        top: 35%;
    }

    .story {
        font-size: 1.45em;
        padding: 7.5vh 22.5vw 0vh 22.5vw;
    }
}