/* Phone Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    * {
        background-color: red;
    }
}

/* Tablet */
@media only screen and (min-width: 600px) {
    .section {
        position: relative;
        bottom: 10vh;
    }
    
    section {
        position: relative;
        top: 10vh;
    }

    /* Navbar */
    
    .headroom {
        height: 10vh;
    }

    .navbar {
        height: 10vh;
    }

    #navbar-leftbar {
        width: 40%;
    }

    #navbar-midbar {
        left: 40%;

        width: 20%;
    }

    #navbar-rightbar {
        top: 50%;
        left: 60%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: 40%;
    }

    .left {
        padding-left: clamp(1.1vw, 7.5%, 1.5vw);
    }
    
    /* .mid {
        display: flex;
        width: 100%;
    } */

    .right {
        padding-right: clamp(1.1vw, 7.5%, 1.5vw);
    }

    #navbar-name {
        font-size: clamp(1em, 5vw, 2em);
    }

    #navbar-sub {
        margin-top: 0px;
        font-size: clamp(11px, 3vw, 1em);
    }

    .contact {
        font-size: clamp(11px, 3vw, 1em);
    }

    #navbar-sections {
        background-color: inherit;
        height: auto;
        width: auto;

        flex-direction: row;
        align-items: flex-end;
    }

    .nav-section {
        margin: 4px;
        padding: 1px;

        font-size: clamp(12px, 3vw, 1.2em);
    }

    .active {
        border-bottom: solid #0066ff;
        color: #000;
    }

    /* Header */
    #header {
        
    }

    #header-intro {
        height: calc(75% - 10vh);
    }

    #header-title {
        top: 55%;
    }

    .icon-border {
        padding: clamp(4px, 1vw, 7px);
        border-width: 2px;
    }

    .icons {
        width: clamp(1em, 4.5vw, 1.5em);
        height: clamp(1em, 4.5vw, 1.5em);
        font-size: clamp(1em, 4.5vw, 1.8em);
    }

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}