* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    --nav-height: max(16vw, 10vh);
    --back: #fbfbfb;
    --color: #080c10;
}

body {
    margin: 0px;
    background-color: var(--back);
}

.section {
    position: relative;
    bottom: var(--nav-height);
}

section {
    position: relative;
    top: var(--nav-height);
}

/* Navbar */

.headroom {
    height: var(--nav-height);
}

.navbar {
    position: sticky;
    top: 0;

    /* box-shadow: 0px 2px 5px #CCC;
    
    background-color: #FFF;
    color: #1c1c1d; */

    background-color: var(--back);
    color: var(--color);

    height: var(--nav-height);

    z-index: 1;
}

#navbar-leftbar {
    position: absolute;
    top: 50%;
    left: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    width: 50%;
}

#navbar-midbar {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;
}

#navbar-rightbar {
    position: absolute;
    top: 100%;

    width: 100%;
}

.left {
    padding-left: 3vw;
}

.right {
    padding-right: 3vw;
}

#dropdown {
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
}

#navbar-title {
    flex-direction: column;
}

#navbar-name {
    font-size: max(6.4vw, 4vh);
    font-weight: 500;
}

#navbar-sub {
    margin-top: min(-0.8vw, -0.5vh);
    font-size: max(2.8vw, 1.75vh);
    font-weight: 500;
}

#navbar-contact {
    
}

.contact {
    font-size: max(3.2vw, 2vh);
    font-weight: 500;
}

#navbar-sections {
    height: calc(100vh - var(--nav-height));
    width: 100vw;

    background-color: #fbfbfbED;
}

#nav-section-content {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}

.nav-section {
    padding: 3vh;

    text-align: center;
    font-size: max(4.8vw, 3vh);
}

.active {
    font-weight: bold;
    color: #3388ff;
    /* color: #fb9850; */
}

/* Home */

#home {
    height: 115vh;
}

#header {
    height: calc(52.5vh - var(--nav-height));
}

#header-particles {
    position: absolute;
    top: -50%;
    left: 5%;

    height: 150%;
    width: 90%;

    z-index: -1;
}

#header-title {
    position: absolute;
    top: 35%;
    left: 16%;

    width: 80%;

    padding: 0px 2%;
}

#header-name {
    font-size: calc(10px + 8vmin);
}

#header-sub {
    font-size: calc(8px + 2.5vmin);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-border {
    margin: 8px 1vw 0px 0vw;

    padding: 1.5vw;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
}

.icons {
    width: max(6.4vw, 4vh);
    height: max(6.4vw, 4vh);
    font-size: max(6.4vw, 4vh);
}

.story {
    height: 55vh;
    padding: 7.5vh 5vw 0vh 5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: clamp(1em, 3.6vw, 1.25em);
    font-weight: 400;
    /* color: #FB8600; */
    color: #f58300;
}

/* About Me */

#about-me {
    height: 100vh;

    background-color: #DDD;
}

/* Footer */

#footer {
    height: 0;
}

#footer-content {
    height: var(--nav-height);
    background-color: #101015;
}