body {
    margin: 0px;
    background-color: #FFF;
}

/* Navbar Styles */

.navbar {
    height: 9vh;
    background-color: #000;
    color: #FFF;
}

.navbar-leftbar {
    width: 30%;
    float: left;

    display: flex;
    align-items: center;
    height: inherit;
    justify-content: left;
}

.navbar-midbar {
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}

.navbar-rightbar {
    width: 100%;
    float: right;

    display: flex;
    align-items: center;
    height: 6.5vh;
    justify-content: space-between;

    background-color: #CCC;
    color: #000;
}

#left {
    margin-left: 3vw;
    display: flex;
    align-items: flex-start;
}

#right {
    margin-right: 3vw;
    display: flex;
    align-items: flex-end;
}

#dropdown {
    font-size: clamp(1em, 5vw, 2em);
    margin-right: 3vw;
}

.navbar-contact {
    flex-direction: column-reverse;
}

.contact {
    font-size: clamp(11px, 3vw, 1em);
}

.navbar-icons {
    justify-content: center;
}

.icons {
    margin: 3px;
    padding: clamp(4px, 1.5vw, 7px);
    border-style: solid;
    border-radius: 50px;
    border-width: clamp(1px, 0.2vw, 1.6px);
    font-size: clamp(1em, 5vw, 2em);
}

.navbar-sections {
    flex-direction: row;
}

.section {
    margin: 3px;
    padding: 2px;
    border-bottom-style: solid;
    border-width: 2.5px;
    font-size: clamp(12px, 3.4vw, 1.2em);
}

@media only screen and (min-width: 600px) {
    .navbar {
        display: flex;
        height: 10vh;
    }

    .navbar-midbar {
        width: 40%;
    }

    .navbar-rightbar {
        width: 30%;
        height: inherit;
        justify-content: right;

        background-color: inherit;
        color: #FFF;
    }

    #left {
        margin-left: clamp(1.1vw, 7.5%, 1.5vw);
        display: flex;
        align-items: flex-start;
    }
    
    #mid {
        display: flex;
        width: 100%;
    }

    #right {
        margin-right: clamp(1.1vw, 7.5%, 1.5vw);
        display: flex;
        align-items: flex-end;
    }

    .contact {
        font-size: clamp(11px, 3vw, 1em);
    }

    .icons {
        margin: 3px;
        padding: clamp(4px, 1.5vw, 7px);
        border-style: solid;
        border-radius: 50px;
        border-width: clamp(1px, 0.2vw, 1.6px);
        font-size: clamp(1em, 5vw, 2em);
    }

    .navbar-sections {
        flex-direction: column;
    }

    .section {
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        font-size: clamp(12px, 3.4vw, 1.2em);
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

/* Body Styles */

.Body {
    position: relative;
    min-height: 90vh;
}

#Body-particles {
    position: absolute;
    height: 70%;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.Body-header {
    position: absolute;
    width: 80%;
    text-align: center;
    font-size: calc(8px + 2.5vmin);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0% 10%;
}

.name {
    font-size: calc(10px + 8vmin);
}

