body {
    margin: 0px;
    background-color: #FFF;
}

/* Navbar Styles */

.navbar {
    display: flex;
    height: 10vh;
    background-color: #000;
}

.navbar-leftbar {
    height: inherit;
    width: 30%;
    float: left;
}

.navbar-midbar {
    height: inherit;
    width: 40%;
}

.navbar-rightbar {
    height: inherit;
    width: 30%;
    float: right;
}

.navbar-contact {
    display: flex;
    align-items: center;
    height: inherit;
    color: #FFF;
    margin-left: clamp(7.5%, 15px, 1.5vw);
    margin-right: clamp(7.5%, 15px, 1.5vw);
    font-size: clamp(13px, 1.2vw, 1em);
}

/* Body Styles */

.Body {
    position: relative;
    min-height: 90vh;
}

#Body-particles {
    position: absolute;
    height: 70%;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.Body-header {
    position: absolute;
    width: 80%;
    text-align: center;
    font-size: calc(8px + 2.5vmin);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0% 10%;
}

.name {
    font-size: calc(10px + 8vmin);
}

